body{
  background-color: #194d33;
}
header{
  background: #06130d;color: white;text-align: left;padding: 1%;
  margin-left: -8;
  margin-top: -8;
  display: flex;flex-direction: column;
}

h1{
  text-align: left;
  margin-left: 50px;
  margin-top: -35px;
}

.logo img{
  width: 50px;
  height: 50px;
  margin-left: 0px;
}

.nav{
  height: 10%;
  margin-top: 0px;
}

ul{
  list-style-type: none;
  padding: 1%;
  display: flex;flex-flow: row-reverse;
}

li a {
  display:block;
  background-color: #06130d;
  color: white;text-decoration: none;
  padding: 10px 30px;
}
li a:hover{
  background-color: grey;
  color: white;
}

section{
  display: flex; flex-direction:row;
}

.text{
  width: 70%;
}

.text p{
  text-align: justify;
  padding-right: 2%;
  padding-left: 2%;
  font-size: 18px;
}

.picture{
  width: 30%;
}

.picture img{
  width: 400px;
  height: 400px;
}
footer{
  background-color: #06130d;color: white;padding: 2%;
}

.copyright{
  text-align: center;
}
.copyright img{
  width: 30px;
  height: 30px;
}

@media all and (max-width:600px){
  header{
    width: 100%;
  }
header h1{
  text-align: center;
}

  .logo{
    width: 100%;
  }

  .logo img{
    text-align: center;
  }

  .nav{
    width: 100%;
  }

  .nav ul{
    display: flex;flex-flow: column-reverse;
  }

  .nav ul li{
    text-align: center;
  }

  section{
    width: 100%;
    display: flex;flex-direction: column;
  }

  .text{
    width: 100%;
    margin-top: 50%;
  }

  .picture{
    width: 100%;
  }

  .picture img{
    width: 100%;
  }

  footer{
    width: 96%;
  }
}
