/*Name: Aakriti Pandey
UN ID: 17425089*/
body{
  background-color: #008080; /*providing background color to the body*/
}
header{
  background: #001a1a; /*providing color to the header, margin and padding*/
  color: white;
  text-align: left;padding: 1%;
  margin-left: -8px;
  margin-top: -8px;
  display: flex;flex-direction: column;
}
h1{
  text-align: left;  /*keeping the header text at the top left corner of the screen*/
  margin-left: 50px;
  margin-top: -35px;
}
.logo img{
  width: 50px; /*keeping the logo at the top left corner of the screen along with header text*/
  height: 50px;
  margin-left: 0px;

}
.nav{
  height: 10%; /*keeping the navigation bar at the right sorner of the header*/
  margin-top: 0px;
}

ul{
  list-style-type: none;
  padding: 1%;
  display: flex;  /*displaying the items in navigation with flex property*/
  flex-flow: row-reverse;
}

li a {
  display:block; /*displaying the list items in block with no text decoration*/
  background-color: #001a1a;
  color: white;
  text-decoration: none;
  padding: 10px 30px;

}
li a:hover{
  background-color: grey; /*when hovered on the list items of nav bar, changing the backgroung color of the list items into grey*/
  color: white;
}
section{
  display: flex;  /*displaying the entire section eith flex row property*/
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
}
.text{
  text-align: left; /*aligning the class 'text'in left*/
  margin-left: 1%;
  margin-top: 1%;
}
.container{
  display: flex; /*displaying the classes within container in row with the flex property*/
  flex-direction: row;
}
.instituion{
  margin-left: 0px;  /*aligning the class 'institution'*/
  text-align: justify;
}
.level{
  margin-left: 1%;   /*aligning the class 'level'*/
  text-align: justify;
}
.examboard{
  margin-left: 1%;  /*aligning the class 'examboard'*/
}
.passedyear{
  margin-left: 1%;  /*aligning the class 'passedyear'*/
}
.grades{
  margin-left: 1%;  /*aligning the class 'grades'*/
}
.star{
  margin-left: 50%;  /*aligning the class 'star'*/
}
.picture img{
  width: 305px;   /*aligning the class 'giving height and width to the image'*/
  height: 621px;
}
footer{
  background-color: #001a1a;color: white;padding: 2%;  /*providing backgroung-color and padding to the footer */
}
.copyright{
  text-align: center; /*aligning the copyright section in the footer at the center*/
}
.copyright img{
  width: 30px;  /*providing size to the pictures used in the copyright section*/
  height: 30px;
}

/*codes for making the web page mobile responsive*/
@media all and (max-width:600px){
  header{
    width: 102%;
  }
header h1{
  text-align: center; /*keeping the header text at the center of the mobile screen*/
}
  .nav{
    width: 102%;
    margin-left: -1.6%;
  }

  .nav ul{
    display: flex;  /*displaying the navigation items in flex and in colunm in mobile screen*/
    flex-flow: column-reverse;
  }

  .nav ul li{
    text-align: center;  /*aligning the navigation list items at the center of the mobile screen*/
    width: 102%;
  }

  section{
    width: 100%;  /*displaying the section in column using the flex property*/
    display: flex;
    flex-direction: column;
  }

  .text{
    width: 100%;  /*aligning the class 'text'*/
    margin-top: 50%;
  }
  .container{
    width: 100%;  /*giving the class 'container' 100%width*/
  }

  .picture{
    width: 100%;
  }

  .picture img{
    width: 100%;  /*giving the 100% width in the mobile screen*/
  }

  footer{
    width: 96%;  /*giving the footer 96% width in the mobile screen*/
  }
}
