/*Name: Aakriti Pandey
UN ID: 17425089*/
body{
  background-color: #008080;
}
header{
  background: #001a1a;color: white;text-align: left;padding: 1%;
  margin-left: -8px;
  margin-top: -8px;
  display: flex;flex-direction: column;
}
h1{
  text-align: left;
  margin-left: 50px;
  margin-top: -35px;
}
.logo img{
  width: 50px;
  height: 50px;
  margin-left: 0px;

}
.nav{
  height: 10%;
  margin-top: 0px;
}

ul{
  list-style-type: none;
  padding: 1%;
  display: flex;flex-flow: row-reverse;
}

li a {
  display:block;
  background-color: #001a1a;
  color: white;
  text-decoration: none;
  padding: 10px 30px;

}
li a:hover{
  background-color: grey;
  color: white;
}
section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
}
.text{
  text-align: left;
  margin-left: 1%;
  margin-top: 1%;
}
.container{
  display: flex;
  flex-direction: row;
}
.instituion{
  margin-left: 0px;
  text-align: justify;
}
.level{
  margin-left: 1%;
  text-align: justify;
}
.examboard{
  margin-left: 1%;
}
.passedyear{
  margin-left: 1%;
}
.grades{
  margin-left: 1%;
}
.star{
  margin-left: 50%;
}
.picture img{
  width: 305px;
  height: 621px;
}
footer{
  background-color: #001a1a;color: white;padding: 2%;
}
.copyright{
  text-align: center;
}
.copyright img{
  width: 30px;
  height: 30px;
}
@media all and (max-width:600px){
  header{
    width: 102%;
  }
header h1{
  text-align: center;
}
  .nav{
    width: 102%;
    margin-left: -1.6%;
  }

  .nav ul{
    display: flex;flex-flow: column-reverse;
  }

  .nav ul li{
    text-align: center;
    width: 102%;
  }

  section{
    width: 100%;
    display: flex;flex-direction: column;
  }

  .text{
    width: 100%;
    margin-top: 50%;
  }
  .container{
    width: 100%;
  }

  .picture{
    width: 100%;
  }

  .picture img{
    width: 100%;
  }

  footer{
    width: 96%;
  }
}
